<!-- home.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Secret Messages</h1>
    {% if user.is_authenticated %}
    <p>
      <a href="{% url 'inbox' %}">View Messages</a> /
      <a href="{% url 'logout' %}">Logout</a> or
      <a href="{% url 'send_message' %}">Send Message</a>
    </p>
    {% else %}
    <p>
      <a href="{% url 'register' %}">Register</a> /
      <a href="{% url 'login' %}">Login</a> or
      <a href="{% url 'send_message' %}">Send Message</a>
    </p>
    {% endif %}
  </body>
</html>
