<!-- send_message.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Message</title>
  </head>
  <body>
    <h1>Send Message</h1>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <label for="recipient_username">Recipient Username:</label><br />
      <input
        type="text"
        id="recipient_username"
        name="recipient_username"
      /><br /><br />
      <label for="content">Message:</label><br />
      <textarea id="content" name="content"></textarea><br /><br />
      <button type="submit">Send Message</button>
    </form>
  </body>
</html>
